//Import Styles
@import 'base.less';
@import 'socialicons.less';
@import 'patterns.less';

//Custom styles
body {
	margin-top: 100px;
	background: @debut_light;
}
a {
	outline: none;
	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

.navbar {
	background: @congruent_outline;
}

.navbar-brand {
	font-family: @font-family-3dr;
	text-align: center;
	padding-top: 30px;
	font-size: 40px;
	text-decoration: none;
}

.btn {
	border-radius: 10px;
	font-weight: bold;
}

footer {
	margin: 50px 0;
}

.btn-round {
    width:30px;
    height:30px;
    border-radius: 50%;
    padding: 0px;
    border: 2px solid #f5f5f5;
}

.form-group {
	margin-bottom: 0px;
}

.icon {
	margin-top: 22px;
	margin-bottom: 11px;
	text-align: center;
	border-radius: 10px;

	h3 {
		margin-bottom: 0px;
		letter-spacing: 9.5px;
		padding-top: 2px;
	}
}

.about-heading {
	text-align: center;
	letter-spacing: 9.5px;
	color: white;
}

.nav-block-social {
	padding: 12px;
}

.nav-heading {
	padding-top: 24px;
}

.input-subscribe {
	font-size: 18px;
}

.me-panel {
	background: @grey_wash_wall;
	background-color: none;
}

.stLarge {
	// border: 1px solid black;
}